/*
!.local/bin/
!.xinitrc
.calcurse/.daemon.pid
!.profile
!.xprofile
!.bashrc
!.bash_profile
!.gitignore
!.inputrc
!.calcurse
!install.sh
.calcurse/todo
.calcurse/apts
.calcurse/caldav/oauth2_cred
.calcurse/caldav/sync.db
cloudstorage/
.calcurse/notes/2160ff84bd65d1c59fdec90d20df6a5ad9550864
.calcurse/notes/2160ff84bd65d1c59fdec90d20df6a5ad9550864
.calcurse/notes/2160ff84bd65d1c59fdec90d20df6a5ad9550864


.calcurse/.calcurse.pid

.calcurse/notes/14090ca1ecab9fa0aa6e8c42df59041901fff798
.calcurse/notes/993632d8f7da2afde58471a2083a9cbdcd3632a4