/*
!.local/bin/
!.xinitrc
.calcurse/.daemon.pid
!.profile
!.xprofile
!.bashrc
!.bash_profile
!.gitignore
!.inputrc
!.calcurse
!install.sh
.calcurse/todo
.calcurse/apts
.calcurse/caldav/oauth2_cred
.calcurse/caldav/sync.db

.calcurse/notes/2160ff84bd65d1c59fdec90d20df6a5ad9550864
.calcurse/notes/2160ff84bd65d1c59fdec90d20df6a5ad9550864
.calcurse/notes/2160ff84bd65d1c59fdec90d20df6a5ad9550864


.calcurse/.calcurse.pid
