#!/bin/bash
dwmblocks &
setbg $
sxhkd &
dunst &
xcompmgr -o .9 &
copyq &
# anamnesis --start &
# nm-applet &
#clipmenud &
# slstatus&
numlockx &
flameshot &
xset r rate 250 30
#xautolock  -locker i3lock -i ~/.config/lockimage.png -t &
#wmname LG3D # to open java applications like Datagrip
lockscreen
