#!/bin/bash
# autorandr for multimontiro
autorandr --change
setbg $
sxhkd &
dunst &
xcompmgr -o .9 &
copyq &
numlockx &
flameshot &
xset r rate 250 30
lockscreen
# to lock screen when suspend or hibernate
xss-lock -- lockscreen &
